/*@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');*/
/*@keyframes transitionIn{
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}

@keyframes transitionOut{
	from{
		opacity: 1;
	}

	to{
		opacity: 0;

	}
}*/
/** { border: 1px solid red; }*/

/*.swup-enabled {
	height: 100vh;
}*/

html {
    /*width: 100%;*/
    height: 100vh;
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow-x: hidden;
    display: flex;*/
    background-color: black;
}


@font-face {
    font-family: 'brandon_grotesqueMdIt';
    src: url('fonts/brandon_med_it-webfont.woff2') format('woff2'),
        url('fonts/brandon_med_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('fonts/brandon_med-webfont.woff2') format('woff2'),
        url('fonts/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'brandon_grotesqueRgIt';
    src: url('fonts/brandon_reg_it-webfont.woff2') format('woff2'),
        url('fonts/brandon_reg_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'brandon_grotesqueregular';
    src: url('fonts/brandon_reg-webfont.woff2') format('woff2'),
        url('fonts/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.transition-fade {
    opacity: 1;
    -webkit-transition: 400ms;
    /*transition-timing-function: ease-out;*/
    /*background-color: white;*/
    /*position: top;*/
}

html.is-animating .transition-fade {
    opacity: 0;
    -webkit-transition: 400ms;
    /*background-color: white;*/
    /*position: top;*/
}

.transition-fadeAbout {
    opacity: 1;
    -webkit-transition: 400ms;
    background-color: black;
    /*height: 100;*/

    /*overflow: scroll;*/
    /*background-color: black;*/
}

.transition-fadeWork {
    opacity: 1;
    -webkit-transition: 400ms;
    background-color: white;
    /*height: 100;*/

    /*overflow: scroll;*/
    /*background-color: black;*/
}

@media screen and (min-height: 1080px) {
    .transition-fadeAbout {
        height: 100vh;
        /*overflow: auto;*/
    }

    .transition-fadeWork {
    	height: 100vh;
    }
}

html.is-animating .transition-fadeAbout {
    opacity: 0;
    -webkit-transition: 400ms;
    /*transition-timing-function: ease-in-out;*/
    background-color: black;
}

html.is-animating .transition-fadeWork {
    opacity: 0;
    -webkit-transition: 400ms;
    /*transition-timing-function: ease-in-out;*/
    background-color: white;
}

/*html.to-aboutme.html .transition-fade{
	opacity: 0;
	background-color: black;

}*/

/*html.is-changing .transition-fade{
	opacity: 0;
	background-color: black;
}*/

.preload {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 4;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    top: 0px;
    align-content: center;
}

.preload marquee {
    /*position: absolute;*/
    opacity: 1;
    text-transform: uppercase;
    line-height: 180px;
    margin: 0;
    padding: 0;
    color: #646464;
    font-size: 200px;
    font-family: fit, sans-serif;
    z-index: 4;
    overflow: hidden;
    /*justify-content: center;*/
}

#aboutBody {
    background-color: black;
    height: 100vh;
    vertical-align: top;
    /*display: flex;*/
}

#workBody {
    background-color: white;
    height: 100vh;
    vertical-align: top;
    /*display: flex;*/
}

/*#notNav{
	z-index: 0;
}*/

/*parallax setup*/

/*.parallax-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex;
}*/



.menu-btn {
    padding: 0px 5px;
    right: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 82px;
    cursor: pointer;
    transition: all .30s ease-in-out;
    z-index: 2;
}

.menu-btn__burger {
    width: 30px;
    height: 3px;
    background: #000;
    border-radius: 5px;
    box-shadow: none;
    transition: all .30s ease-in-out;
    z-index: 2;
    position: absolute;
}

.menu-btn__burger:focus,
.menu-btn__burger::before,
.menu-btn__burger::after {
    outline: none;
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #000;
    border-radius: 5px;
    box-shadow: none;
    transition: all .30s ease-in-out;
    z-index: 2;
}

.menu-btn__burger::before {
    transform: translateY(-10px);
    z-index: 2;
}

.menu-btn__burger::after {
    transform: translateY(10px);
    z-index: 2;
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    z-index: 2;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    z-index: 2;
    background: #fff;
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    z-index: 2;
    background: #fff;
}

.noscroll {
    overflow: hidden;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    /*background-color: rgb(0,0,0);*/
    /*background-color: rgba(0,0,0,0.9);*/
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.4s;
    /*display: none;*/
}

[aria-hidden="true"] {
    display: none;
}

[aria-hidden="false"] {
    display: block;
}

/*watch this section to move items to the right*/
.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: left;
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 15px;
    margin-right: 20px;
    z-index: 3;
    /*display:none;*/
    /*overflow-x: hidden;*/
}

.overlay a {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    font-style: normal;
    padding: 15px 0px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    transition: 0.4s;
    letter-spacing: 0px;
    z-index: 3;
    width: 100%;
    /*overflow-x: hidden;*/
}

.overlay a:hover,
.overlay a:focus {
    color: #fcaf74;
}

hr.solid {
    border: 0px solid #aaa;
    height: 1px;
    background-color: #aaa;
    margin-top: -5px;
    margin-left: 0px;
    margin-right: 32px;
}

/*.overlay .closebtn{

}*/

#navinner {
	align-items: center;
	max-width: 1248px;
	margin-left: auto;
	margin-right: auto;
}

#navbar {
    background-color: #FFF;
    -webkit-transition: 0.4s;
    position: fixed;
    top: 0px;
    width: 100%;
    /*transition: top 0.4s;*/
    z-index: 3;
    /*padding: 0;*/
    /*margin: 0;*/
    /*overflow-x: hidden;*/
}

#navbar a {
    margin-left: auto;
    float: left;
    display: block;
    color: #000;
    text-align: left;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 60px;
    font-family: fit, sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.4s;
    /*overflow-x: hidden;*/
    /*letter-spacing: 1px;*/
}

#rightNav a {
	float: right;
    display: block;
    color: #000;
    text-align: center;
    justify-content: center;
    padding: 25px 15px;
    padding-bottom: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    /*font-family: neue-haas-unica;
    font-weight: 400;
    font-style: normal;*/
    font-family: brandon-grotesque,sans-serif;
	font-weight: 700;
	font-style: normal;
    transition: 0.4s;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    /*transition: background-size .3s;*/
}

#rightNav a:hover, #rightNav a:focus{
	background-size: 100% 2px;
} 

.swiper-container {
    height: 100vh;
    border-top: 82px solid white;
    z-index: 0;
}

.swiper-slide {
    z-index: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: right;
    font-size: 60px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.preview {
    width: 100%;
    height: auto;
}

.swiper-wrapper {
    /*border-top: 82px;*/
    z-index: 0;
}

.swiper-pagination {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    text-align: right;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {

    body {
        background-color: #FFFFFF;
        color: #000000;
        margin: 0px;

        /*height: 100vh;*/
        /*padding: 15px 10px;*/
        /*	font-family: 'Helvetica Neue';
		font-weight: 200;*/
    }


}

h1 {
    /*text-transform: uppercase;*/
    /*float: left;*/
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 300px;
    font-family: fit, sans-serif;
    font-weight: 400;
    font-style: normal;
    /*transition: 0.4s;*/
}

.intro-title .letter {
    display: inline-block;
    /*line-height: 1em;*/
    scale: 0.8;
}

/*@media (max-width: 800px) and (min-width: 240px){
	body{
		background-color: #FFFFFF; 
		color: #000000;
		padding: 15px 10px;*/
/*	font-family: 'Helvetica Neue';
		font-weight: 200;
	}
}*/

@media (min-width: 601px) {
    body {
        background-color: #FFFFFF;
        color: #000000;
        margin: 0px;
        /*height: 100vh;*/
    }
}

/*p{
		max-width: 600px;
	}
} */

.fields {
	max-width: 600px;
    font-family: 'brandon_grotesqueregular';
    font-size: 14px;
    font-weight: normal;
    color: gray;
    line-height: 0;
    margin-top: 35px;
    margin-left: 2px;
    margin-bottom: 10px;
}

.columnLabel{
	max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    float: left;
    width: 50%;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Create two equal columns that floats next to each other */
.column {
    /*display: flex;*/
    /*align-items: center;*/
    max-width: 600px;
    display: flex;
    margin: auto;
    float: left;
    width: 50%;
    align-items: flex-start;
    justify-content: flex-start;

    /*height: 100%;*/
    /*flex-direction: column;*/
    /*  align-items: top;
  align-content: top;
	justify-content: top;
	vertical-align: top;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*justify-content: center;*/
    /*padding: 10px;*/
    /*height: 300px;  Should be removed. Only for demonstration */
}

.columnRight {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    align-items: top;
    /*float: left;*/
    width: 50%;
    height: 100%;
    /*align-content: center;
	justify-content: center;
	vertical-align: center;
	overflow: scroll;*/
    /*text-align: center;*/
}

p.pAbout {
    max-width: 600px;
    font-family: 'brandon_grotesqueregular';
    font-size: 22px;
    font-weight: normal;
    color: white;
    margin-left: 16px;
    /*text-align: center;*/

    /*vertical-align: center;*/

    /*transition-delay: 1000ms;
	opacity: 1;*/
    /*height: 100%;*/

}

#containerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: top;*/
    height: 100%;
    /*padding-top: 82px;*/
    padding: 0px 16px;
    background-color: black;
}

#containerWork {
    display: flex;
    flex-direction: column;
    align-content: center;
    /*justify-content: top;*/
    height: 100%;
    /*padding-top: 82px;*/
    padding: 0px 16px;
    background-color: white;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
}


/* Clear floats after the columns */


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: 100%;
        overflow: visible;
        /*display: block;*/
    }

    .columnRight {
        width: 100%;
        /*display: flex;*/
        height: 100%;
        overflow: visible;
    }

    p.pAbout {
        margin-left: 0px;
        /*color: blue;*/
    }

    h1 {
        font-size: 100px;
    }

    #containerAbout {
        display: block;
    }

    #containerWork {
    	display: block;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .rowWork {
    	display: flex;
    	flex-direction: column;
    }

    .menu-btn {
        display: flex;
    }

    .overlay-content {
        position: relative;
        top: 5%;
        width: 100%;
        text-align: left;
        margin-top: 55px;
        margin-bottom: 55px;
        margin-left: 15px;
        margin-right: 20px;
        z-index: 3;
        /*overflow-x: hidden;*/
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        /*background-color: rgb(0,0,0);*/
        /*background-color: rgba(0,0,0,0.9);*/
        background-color: #FFF;
        overflow-x: hidden;
        transition: 0.4s;
    }

    #rightNav {
    	display: none;
    }

    .swiper-container {
	    height: 400px;
	}




    /*img{
  	width: 100%;
  	height: 100%;
  }*/
}

img.portrait {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: contain;
    /*position: sticky;*/
    /*align-items: top;*/
}

/*.imgSwap{
	width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: contain;
}*/


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    padding-top: 14px;
    padding: 20px 16px;
}



#swup2 {
    /*background-color: black;*/
    height: 100vh;
    background-color: black;
}

#swup {
    /*min-height: 100%;*/
    /*-webkit-min-height: 100%;*/
    /*height: 100vh;*/
    /*display: flex;*/
    /*background-color: black;*/
}




/*#notNav{
	z-index: -1;
}*/

/*#fader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	pointer-events: none;
	background: white;
	animation-duration: 400ms;
	animation-timing-function: ease-in-out;
}

#fader.transitionOut{
	opacity: 0;
	animation-name: transitionOut;
}

#fader.transitonIn{
	opacity: 1;
	animation-name: transitionIn;
}*/

button {
    margin: 30px auto 0;
    padding: 15px 25px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 25px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 8px;
    /*text-transform: uppercase;*/
    text-decoration: none;
    letter-spacing: 1px;
    outline: none;
    font-family: 'neue-haas-unica';
    transition: background-color 0.2s, color 0.2s;
}

button:hover {
    background-color: #000000;
    color: #FFFFFF;
}

p {
    /*padding: 15px 10px;*/
    max-width: 600px;
    font-family: 'brandon_grotesqueregular';
    font-size: 22px;
    font-weight: normal;
    /*line-height: 100%;*/
}

h2 {
    text-align: left;
    padding: 0px 0px;
    /*margin-top: 82px;*/
    font-family: 'neue-haas-unica';
    font-size: 35px;
    line-height: 2;
}

h3 {
	text-align: left;
	font-family: brandon_grotesqueregular, sans-serif;
	font-weight: 800;
	font-size: 35px;
	line-height: 45px;
	margin-top: 0px;
	font-style: normal;
	transition: background-size 0.2s;
	text-decoration: none;	
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
}

.menu-item {
    font-size: 35px;
    margin: 0px;
    overflow: hidden;
    margin-top: 0px;
}

.menu-item-wrapper {
    display: flex;
    position: relative;
    left: -45px;
    transition: all 0.2s ease-out;
}

ion-icon {
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.menu-item:hover .menu-item-wrapper {
    left: 0;
}

/*.workPreview:hover, .workPreview:focus, h3:hover, h3:focus{
	background-size: 100% 2px;
} */

.medium{
	color: black;
	text-decoration: none;
}

#abouth2 {
    display: block;
    text-align: left;

    /*padding: 20px 16px;*/
    /*padding-top: 20px;*/
    padding-bottom: 0px;
    /*padding-left: 16px;*/
    /*padding-right: 16px;*/
    margin-top: 0px;
    margin-bottom: 0px;
    /*font-family: 'neue-haas-unica';*/
    font-size: 35px;
    /*letter-spacing: 0px;*/
    /*font-weight: 100;*/
    /*color: white;*/
    background-color: black;


    font-family: neue-haas-unica, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    /*font-size: 22px;*/
    color: #fff;
    letter-spacing: 0px;
}

#workh2 {
    display: block;
    text-align: left;

    /*padding: 20px 16px;*/
    /*padding-top: 20px;*/
    padding-bottom: 40px;
    /*padding-left: 16px;*/
    /*padding-right: 16px;*/
    margin-top: 0px;
    margin-bottom: 0px;
    /*font-family: 'neue-haas-unica';*/
    font-size: 35px;
    /*letter-spacing: 0px;*/
    /*font-weight: 100;*/
    /*color: white;*/
    background-color: white;


    font-family: neue-haas-unica, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    /*font-size: 22px;*/
    color: #000;
    letter-spacing: 0px;
}

.rowWork {
	max-width: 1248px;
	/*align-content: center;*/
	padding: 0px 15px;
	display: block;
}

.workPreview {
	width: 600px;
	height: 600px;
	/*top: 50%;
	left: 50%;*/
	align-items: left;
	justify-content: left;
	position: relative;
}

.caption {
	position: absolute;
	bottom: 8px;
	left: 16px;
	opacity: 0;
	color: white;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	margin-bottom: 0px;
}

::selection {
    background: #000000;
    /* WebKit/Blink Browsers */
    color: #FFFFFF;
}