@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');

.menu-btn {
	padding: 0px 5px;
	right: 0;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 82px;
	cursor: pointer;
	transition: all .30s ease-in-out;
	z-index: 1;
}

.menu-btn__burger{
	width: 30px;
	height: 3px;
	background: #000;
	border-radius: 5px;
	box-shadow: none;
	transition: all .30s ease-in-out;
	z-index: 1;
	position: absolute;
}

.menu-btn__burger:focus,
.menu-btn__burger::before,
.menu-btn__burger::after{
	outline: none;
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background: #000;
	border-radius: 5px;
	box-shadow: none;
	transition: all .30s ease-in-out;
	z-index: 1;
}

.menu-btn__burger::before{
	transform: translateY(-10px);
	z-index: 1;
}

.menu-btn__burger::after{
	transform: translateY(10px);
	z-index: 1;
}

.menu-btn.open .menu-btn__burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
	z-index: 1;
}

.menu-btn.open .menu-btn__burger::before{
	transform: rotate(45deg) translate(35px, -35px);
	z-index: 1;
	background: #fff;
}

.menu-btn.open .menu-btn__burger::after{
	transform: rotate(-45deg) translate(35px, 35px);
	z-index: 1;
	background: #fff;
}

.noscroll{
	overflow: hidden;
}

.overlay{
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	/*background-color: rgb(0,0,0);*/
	/*background-color: rgba(0,0,0,0.9);*/
	background-color: #FFF;
	overflow-x: hidden;
	transition: 0.3s;
}

[aria-hidden = "true"] {display: none;}

[aria-hidden = "false"] {display: block;}

/*watch this section to move items to the right*/
.overlay-content{
	position: relative;
	top: 5%;
	width: 100%;
	text-align: left;
	margin-top: 55px;
	margin-bottom: 55px;
	margin-left: 15px;
	margin-right: 20px;
	z-index: 2;
}

.overlay a{
	font-family: neue-haas-unica,sans-serif;
	font-weight: 100;
	font-style: normal;
	padding: 15px 0px;
	text-decoration: none;
	font-size: 22px;
	color: #fff;
	display: block;
	transition: 0.3s;
	letter-spacing: 0px;
	z-index: 2;
}

.overlay a:hover, .overlay a:focus{
	color: #fcaf74;
}

hr.solid {
  border: 0px solid #aaa;
  height: 1px;
  background-color: #aaa;
  margin-top: -5px;
  margin-left: 0px;
  margin-right: 32px;
}

/*.overlay .closebtn{

}*/

/* Create a sticky/fixed navbar */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #FFFFFF;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Helvetica Neue';
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #FFFFFF;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

#navbar{
	background-color: #FFF;
	transition: 0.3s;
	position: fixed;
	top: 0;
	width: 100%;
	/*transition: top 0.3s;*/
	z-index: 2;
	padding: 0;
	margin: 0;

}

#navbar a{
	float: left;
  	display: block;
  	color: #000;
  	text-align: left;
  	padding: 10px 15px;
  	text-decoration: none;
  	font-size: 60px;
  	font-family: fit,sans-serif;
	font-weight: 400;
	font-style: normal;
	transition: 0.3s;
	/*letter-spacing: 1px;*/
}

.swiper-container {
    height: 400px;
    margin-top: 82px;
}

.swiper-slide{

    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 60px;
}    	

.swiper-wrapper{
	/*border-top: 82px;*/
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
} 

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {

	body{
		background-color: #FFFFFF; 
		color: #000000;
		margin: 0px;
		/*padding: 15px 10px;*/
	/*	font-family: 'Helvetica Neue';
		font-weight: 200;*/
	}

  .topnav.responsive {position: fixed;}
  .topnav.responsive a.icon {
    position: relative;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@font-face {
    font-family: 'brandon_grotesqueMdIt';
    src: url('fonts/brandon_med_it-webfont.woff2') format('woff2'),
         url('fonts/brandon_med_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('fonts/brandon_med-webfont.woff2') format('woff2'),
         url('fonts/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'brandon_grotesqueRgIt';
    src: url('fonts/brandon_reg_it-webfont.woff2') format('woff2'),
         url('fonts/brandon_reg_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'brandon_grotesqueregular';
    src: url('fonts/brandon_reg-webfont.woff2') format('woff2'),
         url('fonts/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1{
	/*text-transform: uppercase;*/
	border-top: 8px solid;
	border-bottom: 8px solid;
	text-rendering: optimizeLegibility;
	/*letter-spacing: -2px;*/
	font-family: 'Helvetica Neue';
	font-size: 70px;
	font-weight: 500;
	line-height: 120%;
}

/*@media (max-width: 800px) and (min-width: 240px){
	body{
		background-color: #FFFFFF; 
		color: #000000;
		padding: 15px 10px;*/
	/*	font-family: 'Helvetica Neue';
		font-weight: 200;
	}
}*/

@media (min-width: 601px){
	body{
		background-color: #FFFFFF; 
		color: #000000;	
		margin: 0px;
	}

	/*p{
		max-width: 600px;
	}*/
}

img{
	/*width: 350px;

	border-radius: 20px;*/
	/*margin: 20px auto 0;*/
}

#container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	padding-top: 14px;
	padding: 20px 16px;
}

button{
	margin: 30px auto 0;
	padding: 15px 25px;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 25px;
	text-align: center;
	border: 2px solid #000000;
	border-radius: 8px;
	/*text-transform: uppercase;*/
	text-decoration: none;
	letter-spacing: 1px;
	outline: none;
	font-family: 'neue-haas-unica';
	transition: background-color 0.2s, color 0.2s;
}

button:hover{
	background-color: #000000;
	color: #FFFFFF;
}

p{
	/*padding: 15px 10px;*/
	max-width: 600px;
	font-family: 'brandon_grotesquemedium';
	font-size: 22px;
	font-weight: normal;
	/*line-height: 100%;*/
}

::selection {
  background: #000000; /* WebKit/Blink Browsers */
  color: #FFFFFF;
}